@{
    Layout = null;
}
@model CilJs.TestRunner.Controllers.RunJsViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        body {
            background-color: #eeeeec;
            color: #222;
        }

        * {
            /*font-family: Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;*/
            font-family:Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
            font-size: 10pt;
        }

        pre {
            font-family: 'Consolas', 'Courier New', Courier, 'Nimbus Mono L', monospace
        }

        a {
            text-decoration: none;
        }
    </style>
    <script src="~/Scripts/jquery-2.1.0.js"></script>
    <script src="~/Scripts/knockout-3.1.0.debug.js"></script>
    <script src="~/Scripts/rx.js"></script>
    <script src="~/Scripts/rx.jquery.js"></script>
    <script src="~/corlib.ciljs.js"></script>

    <script>
        var item = {
            testHasSucceeded: ko.observable(false),
            testHasFailed: ko.observable(false),
            testRunning: ko.observable(false),
            errors: ko.observable([]),
            jsOutput: ko.observable(""),
            clrOutput: ko.observable("")
        };

        function runScript() {

            ciljs_test_log_clear();
            var result = "exitCode: " + asm1.entryPoint(); // do not remove "result" local.
            document.getElementById("output").innerHTML += result;
        }

        function ciljs_test_log_clear() {
            document.getElementById("output").innerHTML = "";
        }

        function ciljs_test_log(message) {
            //if (typeof console != "undefined") console.log(message);
            document.getElementById("output").innerHTML += (asm0.ToJavaScriptString(message) + "<br/>");
        }

        var testName = "@Model.TestName.TrimStart('/')";

        function runTest() {
            item.testRunning(true);
            $.getJSONAsObservable("/api/testrunner?name=" + testName)
             .subscribe(
                function (result) {
                    if (result.data.TestSuccess)
                        item.testHasSucceeded(true);
                    else {
                        item.testHasFailed(true);
                        item.errors(result.data.Errors);
                        item.jsOutput(result.data.JsOutput);
                        item.clrOutput(result.data.ClrOutput);
                    }

                    item.testRunning(false);
                });
        }

        window.onload = function () {
            ko.applyBindings(item);
        }
    </script>

    <script src="@Model.ScriptPath" type="text/javascript">
    </script>

</head>
<body>
    <div>
        <table>
            <tr>
                <td>Run:
                </td>
                <td>
                    <button onclick="runScript()">In browser</button>
                </td>
                <td>
                    <button onclick="runTest()">CLR + JS</button>
                </td>
                <td>
                    <span style="color: green" data-bind="visible: testHasSucceeded">OK</span>
                    <span style="color: red" data-bind="visible: testHasFailed">FAILED</span>
                    <div data-bind="visible: testRunning">
                        <img src="/Images/throbber.gif" alt="Working..." />
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4" data-bind="visible: errors().length > 0">
                    <pre data-bind="foreach: errors"><!-- ko text: $data --><!-- /ko --><br /></pre>
                </td>
            </tr>
            <tr  data-bind="visible: errors().length > 0">
                <td colspan="2">
                    <pre>JavaScript:</pre>
                    <pre data-bind="text: jsOutput"></pre>
                </td>
                <td colspan="2">
                    <pre>Clr:</pre>
                    <pre data-bind="text: clrOutput"></pre>
                </td>
            </tr>
        </table>
        <pre id="output"></pre>
    </div>
</body>
</html>
