<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="2.1.0" targetFramework="net45" />
  <package id="knockoutjs" version="3.1.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc.FixedDisplayModes" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20715.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.CodeAnalysis.Common" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="MsieJavaScriptEngine" version="1.4.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net45" />
  <package id="RxJS-Binding" version="2.2.17" targetFramework="net45" />
  <package id="RxJS-Bridges-jQuery" version="1.1.6" targetFramework="net45" />
  <package id="RxJS-Lite" version="2.2.17" targetFramework="net45" />
  <package id="RxJS-Main" version="2.2.17" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.1.36" targetFramework="net46" />
  <package id="System.Reflection.Metadata" version="1.0.21" targetFramework="net46" />
</packages>